.board-field {
    width: 100%;
    padding: 6px 6px;
    margin: 8px 0;
    box-sizing: border-box;
}

.board-button {
    background: #9C88FE;
    border: 1px solid #7A6CBB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 2px 20px;
    color: #340AFC;
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    font-size: 16px;
}
