.App {
  background-color: #F5F5F5;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(auto-fill, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px; 
  justify-items: stretch;
}

.heading {
  grid-area: 1 / 1 / 2 / 3;
  background-color: aquamarine;
  font-family: 'Fira Code', monospace;
  font-size: 24px;
  /* line-height: 32px; */
  text-align: center;
}

.sidebar {
  grid-area: 2 / 1 / 6 / 3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #340AFC;
  color: #f5f5f5;
}

input:invalid {
  background-color: #ffdddd;
  border: 1px solid red;
}